In [ ]:
#1) Evaluation metric

#2) Create random greedy solution method

#3) Genetic algorithm
#3.1) Initialize population (k random greedy solutions)
#3.2) Divide into mothers and fathers
#3.3) Combine mums and fathers (Add rnd % of mother, fill if possible from father, greedy search for rest)
#3.5) Select best k-1 solution
#3.4) Add new greedy solution
#Stop after 1) x runs, 2) y runs without improvement

# IMPORT

In [11]:
import pandas as pa

cwl = pa.read_csv("child_wishlist_v2.csv", header = -1, index_col = 0)

In [10]:
gifts = pa.read_csv("gift_goodkids_v2.csv", header = -1, index_col = 0)

In [24]:
cwl.head()

,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
0,,,,,,,,,,,,,,,,,,,,,
0,61,808,121,167,127,289,840,678,575,215,...,529,120,283,40,18,4,693,909,491,495
1,378,247,299,174,809,108,316,863,241,811,...,255,682,115,881,96,428,856,596,511,93
2,19,981,95,538,262,952,193,426,340,205,...,278,604,48,608,785,990,838,779,204,84
3,322,210,755,930,986,421,941,72,505,37,...,708,891,108,168,157,83,714,119,207,333
4,292,810,33,256,374,863,170,866,360,286,...,720,338,156,565,184,785,923,352,7,661

In [26]:
cwl.loc[0:2,:]

,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
0,,,,,,,,,,,,,,,,,,,,,
0,61,808,121,167,127,289,840,678,575,215,...,529,120,283,40,18,4,693,909,491,495
1,378,247,299,174,809,108,316,863,241,811,...,255,682,115,881,96,428,856,596,511,93
2,19,981,95,538,262,952,193,426,340,205,...,278,604,48,608,785,990,838,779,204,84

In [8]:
gifts.head()

,0,1,2,3,4,5,6,7,8,9,...,991,992,993,994,995,996,997,998,999,1000
0,0,377750,248196,299067,180786,820171,108149,313821,877739,241487,...,99113,478384,404864,774891,884180,399876,89415,63990,557947,637010
1,1,18884,986611,97454,533768,263045,960238,196391,425299,338638,...,955802,590760,264518,782966,851947,428381,177363,654964,485946,991338
2,2,320640,212052,763863,942751,990148,417668,950068,74076,500604,...,456788,935585,573507,988259,951843,114641,447778,901406,590127,473897
3,3,290226,821783,32328,258030,372587,878013,175868,880650,357737,...,469445,634120,515484,321208,68447,794987,174657,866274,192136,770993
4,4,315731,453346,267048,109022,868140,629924,352660,67686,626553,...,528323,886135,161623,463941,243322,346157,614767,922991,848821,590637

In [9]:
?pa.read_csv

# First explorative analysis

What is the number first preferences by each present?

Are all children prefered for a present by santa?

What is the theoretical upper bound?

# Evaluation

In [ ]:
class solution:
    def __init__(self, AvgChildHappiness, AvgChildHappiness):
        self.avgCH = AvgChildHappiness
        self.avgSH =  AvgChildHappiness

In [ ]:
def happiness(rank, len_p):
    '''
    child happiness
    '''
    if(rank == -1):
        return rank #not in wishlist
    else:
        return (2*rank) / (len_p*2) #in withlist
    
def AverageHappiness(rank_c, rank_s, n_children = 1000000, n_gifts = 1000000):
    '''
    average nominal hapiness
    '''
    1/n_children * happiness(rank_c, len_p = 100)
    1/n_gifts * happiness(rank_c, len_p = 1000)
    
    return anh

def evaluate(solution):
    return solution.avgCH**3 + solution.avgSH**3

#number of gifts and children is equal to 1 000 000 -> simplifying the evaluation funciton

# Greedy heuristic

In [ ]:
#greedy heuristic

#1) if